h1 {
    color: rgb(66, 139, 202);
    text-align: center;
    padding-top: 10PX;
    font-family: 'Indie Flower', cursive;
}

.col-md-12 {
    margin-top: 20PX;
    margin-bottom: 20PX;
    background-color: rgb(249,249,249);
    border-color:  rgb(66, 139, 202);
    border-style: inset;
    border-width: 5PX;
    height:100PX;
    border-radius: 5PX;
    text-align: center;
}

#taskIn {
    margin-top: 10PX;
    margin-bottom: 50PX;
}

#addTask {
    width: 135PX;
}

#labelId {
    font-size: 20PX;
    margin-top: 20PX;
}

#buttonLoc {
    padding-top: 63PX;
    margin-bottom: 50PX;
}

span {
    margin-left: 10PX;
    font-weight: bold;
    color: rgb(92,184,92);
    font-size: 15PX;
}