h1 {
    color: white;
    text-align: center;
    padding-top: 10PX;
}

.col-md-12 {
    margin-top: 20PX;
    margin-bottom: 20PX;
    background-color: rgb(66, 139, 202);
    height:100PX;
    border-radius: 5PX;
    text-align: center;
}

#taskIn {
    margin-top: 10PX;
}

#addTask {
    width: 135PX;
}

#labelId {
    font-size: 20PX;
}

#buttonLoc {
    padding-top: 41PX;
}

span {
    margin-left: 10PX;
    font-weight: bold;
    color: rgb(91,192,222);
    font-size: 15PX;
}